.app > h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.app-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 3em;
}
.left{
    flex: 1;
    justify-content:flex-end;
}
.right{
    flex: 1;
}