:root{
    --bg-color:rgba(249, 244, 244, 0.952);
    --grey:rgba(54, 54, 54, 0.952);;
    --secondry:rgba(225, 56, 56, 0.776);
    --primary:rgb(98, 172, 241);


}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  color: var(--grey);

}

.todo-container{
  padding: 20px;
}

.todo-form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5em;
}

.todo-form > input{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid var(--primary);
  border-radius: 10px;

}

.Btn{
  margin-top: 2em;
  padding: 10px;
  border: none;
  background-color: var(--secondry);
  border-radius: 10px;

}
.todoList{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.todoList >  h4{
  text-decoration: underline var(--primary);
  text-transform: capitalize;
  font-size: 20px;
} 

.todoList-container{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.todoList-container > span {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 400;

}

.listBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-right: 20px;

}
.listBtn > button {
  background-color: var(--secondry)  !important ;
  color: var(--grey) !important;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-right: 20px;
}

.listIcon{
  margin-right: 5px;
  background-color: var(--secondry);
  font-size: 15px;
}
.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255 , 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
  background-color: #f8f3f8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px, 
              rgba(0, 0, 0, 0.12) 0px 4px 6px, 
              rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.left{
  
  display: flex;
  align-items: center;
  justify-content: center;

}
.right
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    gap: 20px;

}
.right > h4 {
  font-weight: 700;
  font-size: 24px;
}

.right > small {
  font-weight: 600;
}